::selection {
    background-color: var(--vp-c-brand-2);
    color: var(--vp-c-neutral-inverse);
}

.vp-doc img {
    border-radius: 8px;
}

.vp-doc .code-label {
    margin-top: -12px;
    font-size: 14px;
    line-height: 26px;
    /*font-weight: 500;*/
    color: var(--vp-c-text-2);
}

:root:not(.dark) .VPHero .VPImage {
    /*filter: drop-shadow(10px 6px 24px #8d8fba);*/
    filter: drop-shadow(2px 4px 4px #4d4f8e);
}


/* Dirty tweaks for translate button */
.VPNavBar .VPNavBarSearch {
    order: -2;
}

.VPNavBar .translations {
    order: -1;
    flex-direction: row-reverse;
}

.Layout:not(.has-russian-translation) .translations {
    display: none;
}
