::selection {
    background-color: var(--vp-c-brand-2);
    color: var(--vp-c-neutral-inverse);
}

.vp-doc img {
    border-radius: 8px;
}

.logo {
    transform: translateY(-2.5px);
}

.vp-doc details tr:nth-child(2n) {
    background: inherit;
}

.vp-doc details td {
    border: none;
}
