::selection {
    background-color: var(--vp-c-brand-2);
    color: var(--vp-c-neutral-inverse);
}

.vp-doc img {
    border-radius: 8px;
}

.vp-doc .code-label {
    margin-top: -12px;
    font-size: 14px;
    line-height: 26px;
    /*font-weight: 500;*/
    color: var(--vp-c-text-2);
}

.vp-doc .author {
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex-direction: row;
    margin: -4px 0 48px;
    width: 100%;
    text-decoration: none;
}

.vp-doc .author img {
    width: 24px;
    border-radius: 50%;
}

.vp-doc details tr:nth-child(2n) {
    background: inherit;
}

.vp-doc details td {
    border: none;
}
